<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Amazon region endpoint (e.g. eu-west-2, us-east-1) -->
		<add key="amazonRegionEndpoint" value="us-east-2"/>
		<!-- Jupiter Server -->
		<add key="jupiterServer" value="https://relayhubus.com"/>
		<!-- Master Data User details -->
		<add key="userName" value=""/>
		<add key="password" value=""/>
	</appSettings>
</configuration>